* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Фиксированная шапка */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    z-index: 1000;
    padding: 10px 0;
    height: 70px;
}

.header h1 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.header img.icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin: 0 5px;
}

.header p {
    text-align: center;
    color: #999;
}

/* Прокручиваемый контент */
.content {
    overflow-y: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    height: calc(100vh - 130px);
    flex-grow: 1;
}

.channel-form {
    margin: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
}

.channel-form h2 {
    color: white;
    margin-bottom: 10px;
}

.channel-form label {
    display: block;
    margin: 10px 0 5px;
    color: #ccc;
}

.channel-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
}

.channel-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.channel-form button:hover {
    background-color: #218838;
}


/* Нижняя навигация */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
    background-color: black;
    z-index: 1000;
    height: 60px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #656565;
    text-decoration: none;
}

.nav-item img.nav-icon {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
}

.nav-item span {
    font-size: 12px;
}

.nav-item.active span {
    color: #fff;
}

.nav-item:hover span {
    color: #ccc;
}

@media screen and (max-width: 1024px) {

    .header
    {
        margin-top: 12%;
    }
    .content {
        margin-top: 55%;
    }
    
    .task-icon {
        width: 50px;
    }

    .task-details p {
        font-size: 16px;
    }

    .check-btn, .open-btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .navbar {
        height: 100px; /* Уменьшаем высоту навигации для более компактного вида */
    }
    .nav-item img.nav-icon {
        width: 50px; /* Уменьшаем иконки для лучшей адаптации */
        margin-bottom: 3px;
    }
    .nav-item span {
        font-size: 20px; /* Уменьшаем шрифт текста под иконками */
    }
}

/* Адаптивные стили */
@media screen and (max-width: 768px) {
    .header
    {
        margin-top: 25%;
    }
    .content {
        margin-top: 50%;
    }
    .task-icon {
        width: 40px;
    }

    .task-details p {
        font-size: 12px;
    }

    .check-btn, .open-btn {
        font-size: 12px;
        padding: 6px 10px;
    }

    .navbar {
        height: 80px;
    }
    .nav-item img.nav-icon {
        width: 40px; /* Уменьшаем иконки для лучшей адаптации */
        margin-bottom: 3px;
    }
    .nav-item span {
        font-size: 18px; /* Уменьшаем шрифт текста под иконками */
    }
}

@media screen and (max-width: 480px) {
    .task-icon {
        width: 35px;
    }

    .task-details p {
        font-size: 10px;
    }

    .check-btn, .open-btn {
        font-size: 10px;
        padding: 4px 8px;
    }

    .navbar {
        height: 50px;
        padding: 5px 0; /* Уменьшаем верхние и нижние отступы для более компактного вида */
    }
    .nav-item img.nav-icon {
        width: 25px; /* Еще больше уменьшаем размер иконок для узких экранов */
        margin-bottom: 2px;
    }
    .nav-item span {
        font-size: 12px; /* Минимальный размер шрифта для хорошей читаемости на маленьких экранах */
    }
}
