/* tickets.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

/* Заголовок */
.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    font-size: 32px;
    color: white;
}

.header p {
    font-size: 16px;
    color: #999;
    margin-top: 10px;
}

/* Список билетов */
.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
}

.ticket {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
}

.ticket h2 {
    font-size: 20px;
    color: white;
    text-align: left;
}

.ticket p {
    font-size: 14px;
    color: #ccc;
    text-align: left;
}

/* Нижняя навигация */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: black;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #656565;
    text-decoration: none;
}

.nav-item img.nav-icon {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
}

.nav-item span {
    font-size: 12px;
}

.nav-item:hover span {
    color: #ccc;
}


/* --- Адаптивные стили для планшетов --- */
@media screen and (max-width: 1024px) {
    .header {
        height: 80px;
    }

    .header img {
        width: 120px;
    }

    .header h1 {
        font-size: 24px;
    }

    .navbar {
        height: 100px; /* Уменьшаем высоту навигации для более компактного вида */
    }
    .nav-item img.nav-icon {
        width: 50px; /* Уменьшаем иконки для лучшей адаптации */
        margin-bottom: 3px;
    }
    .nav-item span {
        font-size: 20px; /* Уменьшаем шрифт текста под иконками */
    }
}

/* --- Адаптивные стили для телефонов (до 768px) --- */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .header {
        height: 70px;
    }

    .header img {
        width: 120px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header p {
        font-size: 15px;
    }

    .navbar {
        height: 80px;
    }
    .nav-item img.nav-icon {
        width: 40px; /* Уменьшаем иконки для лучшей адаптации */
        margin-bottom: 3px;
    }
    .nav-item span {
        font-size: 18px; /* Уменьшаем шрифт текста под иконками */
    }
}

/* --- Адаптив для очень маленьких экранов (до 480px) --- */
@media screen and (max-width: 480px) {
    .header {
        height: 60px;
    }

    .header img {
        width: 120px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header p {
        font-size: 15px;
    }

    .navbar {
        height: 50px;
        padding: 5px 0; /* Уменьшаем верхние и нижние отступы для более компактного вида */
    }
    .nav-item img.nav-icon {
        width: 25px; /* Еще больше уменьшаем размер иконок для узких экранов */
        margin-bottom: 2px;
    }
    .nav-item span {
        font-size: 12px; /* Минимальный размер шрифта для хорошей читаемости на маленьких экранах */
    }
}
